
.content_title{
  display:flex;
  flex-direction:column;
  row-gap:30px;
}
.total_block___buttton_container{
    margin:20px 0px 50px 0px;
}
.total__block_container{
  width:max-content;
  padding: 10px;
  border: 2px solid silver;
  border-radius:3px;
  margin-bottom: 20px;
  display:flex;
  flex-direction:column;
  row-gap:15px;
}
.total__block_list{
  display:flex;
  column-gap:15px;
}
.total__block_h3{
  color:black;
  font-weight:600;
}
.total__block_title_container{
  display: flex;
  align-items:center;
  column-gap:10px;
}
.total__block_icon{
  width:15px;
  height:15px;
}

