.buttonChose {
    display: flex;
    margin-top: 5px;
  }
  
  .contentItem {
    width: 120px;
    height: 40px;
    flex-shrink: 0;
    margin-right: 20px;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .selected {
    border-color: green;
  }
  