.header {
    display: flex;
    align-items: center;
    column-gap:200px;
    margin-bottom: 50px;
}
.header_Text {
    font-size: var(--text);
    font-style: normal;
    font-weight: 500;
    line-height: 26px;   
}