.header {
    display: flex;
    align-items: center;

}

.header-title {
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

}

.header_Text {
    margin-left: 200px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}