.recomedationTodos{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.recomedationTodosInput{
    width: 850px;
    height: 40px;
}
.recomedationTodos button{
    margin-left: 20px;
}
textarea{
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}
.dateAndTimeBlock{
    display: flex;
    align-items: center;
}
.mainDataBlock{
    display: flex;
    align-items: center;
}
.dataAndName img{
    width: 30px;
    height: 20px;
    margin-left: 20px;
}
.dateAndTimeBlock{

    margin-right: 60px;
}
.mainDataBlock p{
    margin-left: 20px;
}