.threeBtn__container{
  display:flex;
  flex-direction:column;
  row-gap:5px;
}
.threeBtn__container_input{
    display:flex;
    column-gap:10px;
    align-items: center;
}
.threeBtn__input{
    width: 270px;
    height: var(--input);
}
