@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(./fonts/Roboto-Black.ttf) format('ttf');
}

body {
  background-color: snow;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 900px;
  margin: 0 auto;
}



ul,
li {
  list-style: none;
  
}

span {
  color: deepskyblue;
}
img {
  width: 40px;
  height: 30px;
}
/* Add this CSS to your stylesheets or components */

/* modal window */
.centerModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal {
  width: 580px;
  max-height: 80vh; /* Set a maximum height for the modal */
  overflow-y: auto;
  background-color: #FFF;
  border-radius: 10px;
  border: 5px solid gray;
  overflow: auto;
  padding: 20px;
}

.close {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #000000;
  background: transparent;
  border: none;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  width: 150px;
  height: 20px;
}
/* Typography */
.coinTitle {
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.subTitle {
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
}

.content_Text {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
}

/* Layout and Box Model */
.buttonChose {
  display: flex;
  margin-top: 5px;
}

.contentItem {
  width: 120px;
  height: 40px;
  flex-shrink: 0;
  margin-right: 20px;
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.selected {
  border-color: green;
}

.inputBtnBox {
  display: inline-block;
  margin-right: 10px;
}

.innerBlockBtns {
  display: flex;
  align-items: center;
}

.boxThreeBtnSmall {
  margin-left: 260px;
  align-items: center;
}

.textBtnBlock {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 10px;
}

.boxThreeBtn {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.mainBtnImg {
  width: 40px;
  height: 30px;
}

.inputBoxBox {
  height: 40px;
  width: 350px;
}

.inputBoxContainer {
  display: flex;
  align-items: center;
}

.btnThreeBlock {
  margin-left: 20px;
}

.div {
  border: 1px solid black;
  height: 40px;
  width: 50px;
  padding: 8px;
  background-color: white;
}

/* Injection Styles */
.injectionBtns {
  margin-top: 30px;
}

.injectionBtn {
  margin-right: 70px;
  width: 160px;
  height: 50px;
  border: 1px solid black;
  color: #000;
}

.injectionBtn.selected {
  border: 1px solid green;
  color: green;
}

.injectionContentBox {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.injectionContentInput {
  width: 330px;
  height: 40px;
}

.innerTodos {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.starchForm {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.innerBtn {
  margin-left: 15px;
}

.rightArrow {
  margin-left: 15px;
}

.deleteBtn {
  background: transparent;
  border: none;
}

.injectionContentBtn {
  margin-left: 20px;
}

.innerTextAlem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 470px;
  border: 1px solid black;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%
}

.textList {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.inerField {
  width: 480px;
  height: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.96px;
}

/* Card Styles */
.cardContainer {
  display: flex;
  gap: 20px;
}

.card {
  text-align: center;
  padding: 10px;
  width: 400px;
}

.cardTitle {
  margin-bottom: 20px;
}

.cardContent {
  display: flex;
  gap: 5px;
}

.cardBtn {
  background: none;
  border: none;
  cursor: pointer;
}

/* Carbon Container Styles */
.cantainerCarbonen {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.boxCarbone {
  display: inline-block;
  margin-right: 30px;
}

.blockCarbone {
  display: flex;
  align-items: center;
  width: 200px;
  height: 30px;
  margin-right: 20px;
}

.carboneText {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 10px;
}

.blockCarbonInputSmall {
  height: 40px;
  width: 110px;
}

.carboneTextSmall {
  text-align: center;
}

.blockCarbonInput {
  height: 40px;
  width: 240px;
}

.carboneBtn {
  margin-left: 20px;
}

/* List Carbon Modal Styles */
.listCarbonModal {
  margin-top: 10px;
}

.listCarboneText {
  margin-bottom: 10px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  opacity: 0.6;
}

.blockTiteCarbont {
  background-color: dimgray;
  color: white;
  height: 40px;
  text-align: left;
}

.listCarbonModalTitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

/* Total Block Styles */
.totalBlock {
  padding: 10px;
  border: 1px solid black;
  margin-top: 20px;
}

.listTotalBlock {
  display: flex;
  align-items: center;
}

.listSecondTotal,
.listThirdtTotal {
  margin-left: 35px;
}

.totalBlock li {
  padding-top: 5px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.96px;
}

.totalBtn {
  background: transparent;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 40px;
  width: 220px;
}
.closeModal{
  width: 200px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  background: transparent;
}