@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(./fonts/Roboto-Black.ttf) format('ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --text:16px;
  --input:35px;
  --input-left:15px;
  --burger-width:40px;
  --burger-height:35px;
}
body {
  background-color: snow;
  font-family: 'Roboto', sans-serif;
  font-size:var(--text);
  color: #000000ac;
}
/*  Глобальные  переменый  используемый  на всей странице */
h1{
 color: #000000c8;
 font-weight: 400;
}
h2{
  color: #000000c8;
  font-weight: 400;
 }
 h3{
  color: #000000c8;
  font-weight: 400;
 }
 input{
  padding-left: var(--input-left);
  font-size:va(--text);
  border:2px solid rgba(192, 192, 192, 0.568);
  border-radius:2px;
 }
.app {
  width: 900px;
  margin: 0 auto;
}

ul,
li {
  list-style: none;
  
}

/* span {
  color: deepskyblue;
} */
.global_burger_menu_button{
    width:40px;
    height: 35px;
    display:flex;
    justify-content: center;
    align-items:center;
}
.global_button{
  width:max-content;
  height:max-content;
  padding:10px 45px;
  border-radius:3px ;
  border:2px solid silver;
}
.global_button_active{
  border-color:green;
}
img {
  width: var(--burger-width);
  height: var(--burger-height);
}
/* Add this CSS to your stylesheets or components */

/* modal window */
.centerModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal {
  width: 580px;
  max-height: 80vh; /* Set a maximum height for the modal */
  overflow-y: auto;
  background-color: #FFF;
  border-radius: 10px;
  border: 5px solid gray;
  overflow: auto;
  padding: 20px;
}

.close {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #000000;
  background: transparent;
  border: none;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  width: 150px;
  height: 20px;
}
.contentItem {
  width: 120px;
  height: 40px;
  flex-shrink: 0;
  margin-right: 20px;
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.selected {
  border-color: green;
}

.inputBtnBox {
  display: inline-block;
  margin-right: 10px;
}
.boxThreeBtn {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.mainBtnImg {
  width: 40px;
  height: 30px;
}

.inputBoxBox {
  height: 40px;
  width: 350px;
}

.inputBoxContainer {
  display: flex;
  align-items: center;
}

.btnThreeBlock {
  margin-left: 20px;
}


.innerTodos {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.starchForm {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.innerBtn {
  margin-left: 15px;
}

.rightArrow {
  margin-left: 15px;
}

.deleteBtn {
  background: transparent;
  border: none;
}

.injectionContentBtn {
  margin-left: 20px;
}

.innerTextAlem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 470px;
  border: 1px solid black;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%
}

.textList {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.inerField {
  width: 480px;
  height: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.96px;
}

/* Card Styles */
.cardContainer {
  display: flex;
  gap: 20px;
}

.card {
  text-align: center;
  padding: 10px;
  width: 400px;
}

.cardTitle {
  margin-bottom: 20px;
}

.cardContent {
  display: flex;
  gap: 5px;
}

.cardBtn {
  background: none;
  border: none;
  cursor: pointer;
}
.carboneBtn {
  margin-left: 20px;
}

/* List Carbon Modal Styles */
.listCarbonModal {
  margin-top: 10px;
}

.listCarboneText {
  margin-bottom: 10px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  opacity: 0.6;
}

.blockTiteCarbont {
  background-color: dimgray;
  color: white;
  height: 40px;
  text-align: left;
}

.listCarbonModalTitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.listTotalBlock {
  display: flex;
  align-items: center;
}

.listSecondTotal,
.listThirdtTotal {
  margin-left: 35px;
}

.totalBlock li {
  padding-top: 5px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.96px;
}

.totalBtn {
  background: transparent;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 40px;
  width: 220px;
}
.closeModal{
  width: 200px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  background: transparent;
}